<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <title>Form Input Template</title>
    <link rel="stylesheet" href="/static/css/custom.css">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <!--<script src="../static/js/bootstrap.min.js"></script>-->
    <!--<script src="../static/js/jquery-3.3.1.slim.min.js"></script>-->
    <!--<script src="../static/js/popper.min.js"></script>-->
  </head>
  <body>
    <div id="banner" class="container">
      <h1 class="display-4">Survey</h1>
    </div>
    <div class="container">
      <form action="{{ url_for('process_inputs') }}" method="post">
        <div class="form-group">
          <label for="input_firstname"><b>First Name</b></label>
          <input type="text" class="form-control" name="input_firstname"  id="input_firstname" placeholder="Fred">
        </div>
        <div class = "form-group">
            <label for="input_lastname"><b>Last Name</b></label>
            <input type="text" class="form-control" name="input_firstname" id="input_lastname" placeholder="Flintstone">
        </div>
        <div class="form-group">
          <label for="input_dropdown"><b>Grade Level</b></label>
          <select class="form-control" name="input_dropdown" id="input_dropdown">
            <option>9th</option>
            <option>10th</option>
            <option>11th</option>
            <option>12th</option>
            <option>Above 12th</option>
          </select>
        </div>
        <div class="form-group">
          <label for="input_select"><b>Favorite Color</b></label>
          <select multiple class="form-control" name="input_select" id="input_select">
            <option>Red</option>
            <option>Green</option>
            <option>Blue</option>
            <option>Orange</option>
            <option>Purple</option>
          </select>
        </div>
        <div class="form-group">
            <label for="input_code"><b>Are you coding right now?</b></label>
            <select multiple class="form-control" name="input_select" id="input_select">
            <option>Yes</option>
            <option>I will in the future</option>
            <option>My job is coding</option>
            </select>
        </div>
        <div class="form-group">
          <label for="input_freeform"><b>Any notes?</b></label>
          <textarea class="form-control" name="input_freeform" id="input_freeform" rows="3"></textarea>
        </div>
        <a href=/submit>Submit</a>
      </form>
    </div>
    <div class="container">
      {% if input_data %} {{ input_data }} {% endif %}
      <br />
      {% if output %} {{ output }} {% endif %}
    </div>
  </body>
</html>

