<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <title>Form Input Template</title>
    <link rel="stylesheet" href="/static/css/custom.css">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <!--<script src="../static/js/bootstrap.min.js"></script>-->
    <!--<script src="../static/js/jquery-3.3.1.slim.min.js"></script>-->
    <!--<script src="../static/js/popper.min.js"></script>-->
  </head>
  <body>
    <div id="banner" class="container">
      <h1 class="display-4">Survey</h1>                                                                             <!--Heading of website-->
    </div>
    <div class="container">
      <form action="{{ url_for('process_inputs') }}" method="post">
        <div class="form-group">
          <label for="input_firstname"><b>First Name</b></label>                                                    <!--Asks user for their first name-->
          <input type="text" class="form-control" name="input_firstname"  id="input_firstname" placeholder="Fred">
        </div>
        <div class = "form-group">
            <label for="input_lastname"><b>Last Name</b></label>                                                    <!--Asks user for their last name-->
            <input type="text" class="form-control" name="input_firstname" id="input_lastname" placeholder="Flintstone">
        </div>
        <div class="form-group">
          <label for="input_dropdown"><b>Grade Level</b></label>                                                    <!--Asks user for their grade level-->
          <select class="form-control" name="input_dropdown" id="input_dropdown">
            <option>9th</option>                                                                                    <!--Option (9th)-->
            <option>10th</option>                                                                                   <!--Option (10th)-->
            <option>11th</option>                                                                                   <!--Option (11th)-->
            <option>12th</option>                                                                                   <!--Option (12th)-->
            <option>Above 12th</option>                                                                             <!--Option (Above 12th)-->
          </select>
        </div>
        <div class="form-group">
          <label for="input_select"><b>Favorite Color</b></label>                                                   <!--Asks user for their favorite color-->
          <select multiple class="form-control" name="input_select" id="input_select">
            <option>Red</option>                                                                                    <!--Option (Red)-->
            <option>Green</option>                                                                                  <!--Option (Green)-->
            <option>Blue</option>                                                                                   <!--Option (Blue)-->
            <option>Orange</option>                                                                                 <!--Option (Orange)-->
            <option>Purple</option>                                                                                 <!--Option (Purple)-->
            <option>Other</option>                                                                                  <!--Option (0ther)-->
          </select>
        </div>
        <div class="form-group">
            <label for="input_code"><b>Are you learning to code?</b></label>                                        <!--Asks the user if they're learning to code-->
            <select multiple class="form-control" name="input_select" id="input_select">
            <option>Yes</option>                                                                                    <!--Option (Yes)-->
            <option>I will in the future</option>                                                                   <!--Option (I will in the future)-->
            <option>My job is coding</option>                                                                       <!--Option (My job is coding)-->
            </select>
        </div>
        <div class="form-group">
          <label for="input_freeform"><b>Any notes?</b></label>                                                     <!--Asks the user if he/she has any notes/final thoughts-->
          <textarea class="form-control" name="input_freeform" id="input_freeform" rows="3"></textarea>
        </div>
        <a href=/submit>Submit</a>                                                                                  <!--Submit button (Should lead user to /submit)-->
      </form>
    </div>
    <div class="container">
      {% if input_data %} {{ input_data }} {% endif %}
      <br />
      {% if output %} {{ output }} {% endif %}
    </div>
  </body>
</html>

